body{
    background-image: url(../images/pattern.png);
    width: 50%;  
    margin: auto;  
}

.box{
    background-color: #1a0330;
    color: #ebebeb;
    border: solid;
    border-color: #7a7878;
    border-width: 2px;
    display: block;
    margin: 15px;
}

.title{
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    padding: 25px;
}

.title2{
    font-family: 'Sacramento', cursive;
    font-size: 20px;
    padding: 2px;
}

.clearfix{
    clear: left;
}

.pretty{
    font-family: 'Handlee', cursive;
    padding: 20px;
}

.mid{
    float: left;
}

.guess{
    font-family: 'Merienda', cursive;
    font-size: 60px;
    padding: 15px;
}

.score{
    font-family: 'Merienda', cursive;
    font-size: 60px;
    padding: 15px;
}

button{
    background: none;
    border: solid;
    border-color: black;
    border-width: 1px;
    margin: 15px;
    border-radius: 25px;
}
button:hover{
    border-radius: 25px;
    background-color: grey;
    border: solid;    
}

button:active{
    border-radius: 25px;
    background-color: purple;
    border: solid;    
}

.gem{
    margin: 15px;
    height: 100px;
    width: auto;
}