body{
    background-image: url(../images/pattern.png);
    width: 100%;    
}

.box{
    background-color: #1a0330;
    color: #ebebeb;
    border: solid;
    border-color: #7a7878;
    border-width: 2px;
    display: block;
}

.title{
    font-family: ;
    font-size: 40px;
}

.clearfix{
    clear: left;
}
.pretty{
    font-family: ;
}

.mid{
    float: left;
}

.tarNum{

}

.score{

}

.gem{
    margin: 15px;
    height: 100px;
    width: auto;
}

.curScoreTitle{

}

.guesNum{

}

.curScore{

}

